@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  background: #efeff0;
}
div {
  box-sizing: border-box;
}

/* CKE overrides */

body .ck.ck-editor__editable_inline > :first-child {
  margin-top: 0;
}

body .ck.ck-editor__editable_inline > :last-child {
  margin-bottom: 0;
}

body .ck.ck-editor__editable_inline {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

body
  .ck.ck-editor__editable_inline:not(.ck-editor__nested-editable).ck-focused {
  border: none;
  box-shadow: none;
}

/* end CKE overrides */

.pdf-wrapper,
#inputElement > * {
  display: block;
  max-width: 796.8px;
  margin: 0 auto;
}

app-template-container,
#inputElement > * {
  visibility: hidden;
}

.page,
.dynamic-pages {
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  padding-bottom: 140.9638554216867%;
  height: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-color: white;
  page-break-after: always;
}

/* .page-inner {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: calc(100% - 0px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 15px;
} */
.page-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 0px);
  /* height: calc(100% - 460px); */
  /* height: 100%; */
  box-sizing: border-box;
  /* overflow: hidden; */
  padding: 15px;
  /* padding: 15px 15px 60px; */
}

.page-inner.page-no-header {
  top: 0;
  height: calc(100% - 60px);
}

.page-inner.page-no-footer {
  height: calc(100% - 420px);
}

.page-inner.page-no-header.page-no-footer {
  top: 0;
  height: 100%;
}

.page-header {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.page-footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 45px;
  text-align: center;
}

.full-height-page-inner {
  height: 100%;
  top: 0;
  padding: 0;
}

/* start reset css */

a,
a:hover {
  text-decoration: none;
  transition: 0.5s;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* end reset css */

/* start common css */

.container {
  float: left;
  width: 100%;
}

.row {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  display: inline-block;
  width: 100%;
}

.daily-itinerary-section .daily-itinerary-days {
  width: 50%;
  float: left;
}
.daily-itinerary-section .daily-itinerary-days .itinerary-url {
  float: left;
  margin: 0;
}

/* .img-fullscreen {
  width: 100%;
  height: 100vh;
} */

.fullwidth {
  width: 100%;
}

.buttonUrl {
  border-radius: 4px;
  background-color: #ee7203;
  font-size: 16px;
  line-height: 0.75;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  width: 135px;
  height: 40px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.show-more {
  font-size: 16px;
  font-weight: bold;
  line-height: 0.75;
  text-align: center;
  color: #ee7203;
  width: 100%;
  margin: 30px 0 0 0;
  position: relative;
}

.show-more::after {
  content: "\f107";
  font-family: fontAwesome;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 30px;
}

.read-more {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 0.75;
  text-align: center;
  color: #ee7203;
  border-radius: 4px;
  border: solid 1px #ee7203;
  padding: 10px 25px;
  cursor: pointer;
  display: inline-block;
  margin: 15px 0 0 0;
}

.read-more:hover {
  color: #fff;
  background: #ee7203;
}

.nopadding {
  padding: 0;
}

.padding-top {
  padding-top: 0;
}

.padding-right {
  padding-right: 0;
}

.padding-bottom {
  padding-bottom: 0;
}

.padding-left {
  padding-left: 0;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.padding-top-bottom-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* end common css */

/* start title */

.main-title {
  font-size: 30px;
  text-align: center;
  color: #ee7203;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  float: left;
}

/* end title */

/* landing page */
.page-inner.landing-page {
  padding: 15px 0 0;
}
.home-discover label {
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
}

header {
  margin: 0 0 15px 0;
}
header img {
  display: block;
  margin: 0 auto;
  width: 45%;
}
.hero.youtube-video {
  position: relative;
  border: 5px solid #ee7203;
}
.banner-cover {
  width: 100%;
  display: block;
  min-height: 925px;
  object-fit: cover;
}
.hero .vdotxt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: translate(0, -80%); */
  text-align: left;
  width: auto;
  height: auto;
  padding: 25px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0px;
}
.hero .vdotxt .vdotxt-section {
  position: absolute;
  /* bottom: 5%; */
  right: 0;
  /* background: rgba(136, 23, 40, 0.7); */
  width: 90%;
  left: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero h3 {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
/* end cover image */

/* start home slider */

.home-panel {
  position: fixed;
  position: initial;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  /* height: 100vh; */
}

.home-slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  /* height: 100vh; */
  height: 100%;
}

.video-outer {
  position: relative;
  padding-top: 56.25%;
}

.video-outer iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.video-small {
  width: 100%;
}

.home-discover {
  background: rgba(0, 0, 0, 0.8);
  padding: 22px 15px;
  width: 100%;
  float: left;
}

.home-discover .home-family {
  width: 75%;
  float: left;
  color: #ffffff;
}

.home-discover .home-family .home-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

.home-discover .home-family .home-days {
  font-size: 14px;
}
.home-discover-button {
  float: right;
  width: 25%;
  text-align: right;
}

/* start home slider */

.home-slider .wrapper {
  max-width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
}

.home-slider .wrapper input {
  display: none;
}

.home-slider .inner {
  width: 500%;
  line-height: 0;
}

.home-slider .wrapper article {
  width: 20%;
  float: left;
  position: relative;
}

.home-slider .wrapper article img {
  width: 100%;
  /* height: 100vh; */
}

/*---- SET UP CONTROL ----*/

.home-slider .slider-prev-next-control {
  height: auto;
  position: absolute;
  top: 50%;
  width: 90%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.home-slider .slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}

.home-slider .slider-prev-next-control label:hover {
  opacity: 1;
}

.home-slider .slider-prev-next-control label:hover::after {
  color: #ee7203 !important;
}

.home-slider .slider-dot-control {
  position: absolute;
  width: 90%;
  top: 11%;
  text-align: right;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.home-slider .slider-dot-control label {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  margin: 3px;
}

.home-slider .slider-dot-control label:hover {
  background: rgba(255, 255, 255, 1);
}

/* Info Box */

.home-slider .info {
  position: absolute;
  width: 45%;
  /* font-style: italic; */
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1000ms ease-out 600ms;
  -moz-transition: all 1000ms ease-out 600ms;
  transition: all 1000ms ease-out 600ms;
}

.home-slider .info h3 {
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.48px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.home-slider .info.top-left {
  top: 75px;
  left: 75px;
}

.home-slider .info.top-right {
  top: 30px;
  right: 30px;
}

.home-slider .info.bottom-left {
  bottom: 30px;
  left: 30px;
}

.home-slider .info.bottom-right {
  bottom: 30px;
  right: 30px;
}

/* Slider Styling */

.home-slider .slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  max-height: 100%;
  /* max-height: 100vh; */
  transition: all 500ms ease-out;
}

.home-slider .slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/

.home-slider
  #slide1:checked
  ~ .slider-prev-next-control
  label:nth-child(2)::after,
.home-slider
  #slide2:checked
  ~ .slider-prev-next-control
  label:nth-child(3)::after,
.home-slider
  #slide3:checked
  ~ .slider-prev-next-control
  label:nth-child(4)::after,
.home-slider
  #slide4:checked
  ~ .slider-prev-next-control
  label:nth-child(5)::after,
.home-slider
  #slide5:checked
  ~ .slider-prev-next-control
  label:nth-child(1)::after,
.home-slider
  #slide2:checked
  ~ .slider-prev-next-control
  label:nth-child(1)::after,
.home-slider
  #slide3:checked
  ~ .slider-prev-next-control
  label:nth-child(2)::after,
.home-slider
  #slide4:checked
  ~ .slider-prev-next-control
  label:nth-child(3)::after,
.home-slider
  #slide5:checked
  ~ .slider-prev-next-control
  label:nth-child(4)::after,
.home-slider
  #slide1:checked
  ~ .slider-prev-next-control
  label:nth-child(5)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #fff;
}

.home-slider
  #slide1:checked
  ~ .slider-prev-next-control
  label:nth-child(2)::after,
.home-slider
  #slide2:checked
  ~ .slider-prev-next-control
  label:nth-child(3)::after,
.home-slider
  #slide3:checked
  ~ .slider-prev-next-control
  label:nth-child(4)::after,
.home-slider
  #slide4:checked
  ~ .slider-prev-next-control
  label:nth-child(5)::after,
.home-slider
  #slide5:checked
  ~ .slider-prev-next-control
  label:nth-child(1)::after {
  content: "\f105";
  padding-left: 0px;
}

.home-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(2),
.home-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(3),
.home-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(4),
.home-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(5),
.home-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 0px;
}

.home-slider #slide2:checked ~ .slider-prev-next-control label:nth-child(1),
.home-slider #slide3:checked ~ .slider-prev-next-control label:nth-child(2),
.home-slider #slide4:checked ~ .slider-prev-next-control label:nth-child(3),
.home-slider #slide5:checked ~ .slider-prev-next-control label:nth-child(4),
.home-slider #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
  display: block;
  float: left;
  margin-left: 0px;
}

.home-slider
  #slide2:checked
  ~ .slider-prev-next-control
  label:nth-child(1)::after,
.home-slider
  #slide3:checked
  ~ .slider-prev-next-control
  label:nth-child(2)::after,
.home-slider
  #slide4:checked
  ~ .slider-prev-next-control
  label:nth-child(3)::after,
.home-slider
  #slide5:checked
  ~ .slider-prev-next-control
  label:nth-child(4)::after,
.home-slider
  #slide1:checked
  ~ .slider-prev-next-control
  label:nth-child(5)::after {
  content: "\f104";
  padding-left: 0px;
}

.home-slider #slide1:checked ~ .slider-dot-control label:nth-child(1),
.home-slider #slide2:checked ~ .slider-dot-control label:nth-child(2),
.home-slider #slide3:checked ~ .slider-dot-control label:nth-child(3),
.home-slider #slide4:checked ~ .slider-dot-control label:nth-child(4),
.home-slider #slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: rgba(255, 255, 255, 1);
}

.home-slider #slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
.home-slider #slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
.home-slider #slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
.home-slider #slide4:checked ~ .slider-wrapper article:nth-child(4) .info,
.home-slider #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
  opacity: 1;
}

.home-slider #slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}

.home-slider #slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

.home-slider #slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

.home-slider #slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

.home-slider #slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

/*---- TABLET ----*/

@media only screen and (max-width: 850px) and (min-width: 450px) {
  .home-slider .slider-wrapper {
    border-radius: 0;
  }
}

/*---- MOBILE----*/

@media only screen and (max-width: 450px) {
  .home-slider .slider-wrapper {
    border-radius: 0;
  }

  .home-slider .slider-wrapper .info {
    opacity: 0;
  }
}

@media only screen and (min-width: 850px) {
}

/* start information */

.information {
  padding: 0px 0 0 0;
}

/* .information {

} */

.info-imglist ul {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.info-imglist ul li:first-child {
  margin-left: 0;
}

.info-imglist ul li:last-child {
  margin-right: 0;
}

.info-imglist ul li {
  margin: 0 5px;
  max-width: 50%;
  width: 100%;
}

.info-imglist ul li img {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.information .info-slugs {
  padding: 0 10px;
  max-width: 100%;
  width: 48%;
  float: left;
}

.information .info-slugs-title,
.information .info-slugs h2 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 21px 0 10px 0;
}

.information p {
  margin: 0 0 15px 0;
}

/* end information */

/* start overview-your-trip */

.overview-your-trip .overview-trip-section {
  position: relative;
  float: left;
  width: 50%;
  padding: 0 15px;
}

.overview-your-trip .ovetri-lefbor::before {
  content: "";
  border-left: solid 2px #000000;
  position: absolute;
  top: 0;
  bottom: 0;
}

.overview-your-trip .overview-map::before {
  display: none;
}
.overview-your-trip agm-map {
  width: 100%;
  height: 167px;
}
.overview-your-trip .overview-map iframe {
  width: 373px;
  height: 300px;
  margin: 0 0 45px 0;
}

.overview-your-trip .overview-map h5 {
  font-size: 19px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.overview-your-trip .overview-map p {
  margin: 0 0 20px 0;
}

.overview-your-trip .overview-map p:last-child {
  margin: 0;
}

.overview-your-trip .overview-days {
  padding: 0 0 0 45px;
  /* margin: 0 0 16px 0; */
  margin: 0 0 23px 0;
  position: relative;
}
.overview-your-trip .overview-days:last-child {
  margin-bottom: 0;
}

.overview-your-trip .flight,
.overview-your-trip .orangeA,
.overview-your-trip .car,
.overview-your-trip .orangeB,
.overview-your-trip .orangeC,
.overview-your-trip .orangeF {
  position: relative;
}

.overview-your-trip .car::before,
.overview-your-trip .flight::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: -11px;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  padding-top: 1px;
}

.overview-your-trip .flight::before {
  content: "\f072";
  background: #000;
  transform: rotate(-46deg);
}

.orangeA::before,
.orangeB::before,
.orangeC::before,
.orangeD::before,
.orangeE::before,
.orangeF::before,
.orangeG::before,
.orangeH::before,
.orangeI::before,
.orangeJ::before,
.orangeK::before,
.orangeL::before,
.orangeM::before,
.orangeN::before,
.orangeO::before,
.orangeP::before,
.orangeQ::before,
.orangeR::before,
.orangeS::before,
.orangeT::before,
.orangeU::before,
.orangeV::before,
.orangeW::before,
.orangeX::before,
.orangeY::before,
.orangeZ::before {
  content: "";
  background: #ee7203;
  position: absolute;
  top: 0;
  left: -12px;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  padding-left: 2px;
}

.orangeA::before {
  content: "A";
}

.orangeB::before {
  content: "B";
}

.orangeC::before {
  content: "C";
}

.orangeD::before {
  content: "D";
}

.orangeE::before {
  content: "E";
}

.orangeF::before {
  content: "F";
}

.orangeG::before {
  content: "G";
}

.orangeH::before {
  content: "H";
}

.orangeI::before {
  content: "I";
}

.orangeJ::before {
  content: "J";
}

.orangeK::before {
  content: "K";
}

.orangeL::before {
  content: "L";
}

.orangeM::before {
  content: "M";
}

.orangeN::before {
  content: "N";
}

.orangeO::before {
  content: "O";
}

.orangeP::before {
  content: "P";
}

.orangeQ::before {
  content: "Q";
}

.orangeR::before {
  content: "R";
}

.orangeS::before {
  content: "S";
}

.orangeT::before {
  content: "T";
}

.orangeU::before {
  content: "U";
}

.orangeV::before {
  content: "V";
}

.orangeX::before {
  content: "X";
}

.orangeW::before {
  content: "W";
}

.orangeZ::before {
  content: "Y";
}

.orangeZ::before {
  content: "Z";
}

.overview-your-trip .car::before {
  content: "\f1b9";
  background: #000;
}

.overview-your-trip .overview-days h2 {
  font-size: 15px;
  text-transform: uppercase;
}

.overview-your-trip .overview-days p {
  margin-top: 4px;
  font-size: 13px;
}

/* end overview-your-trip */

/* start destination */
.slider-image-fix {
  float: left;
  width: 40%;
}
.slider-image-fix li {
  margin: 0 0 10px 0;
}
.slider-image-fix li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.destination .destination-details {
  width: 60%;
  padding-left: 15px;
  float: right;
}

.destination .destination-title {
  font-size: 27px;
  letter-spacing: 0.38px;
  text-align: left;
  color: #ee7203;
  text-transform: uppercase;
}

.destination .destination-sub-title {
  font-size: 21px;
  line-height: 1.17;
  letter-spacing: 0.24px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  /* margin: 0 0 24px 0; */
}

.destination .destination-details p.optional-dsc {
  margin: 9px 0;
  /* -webkit-transform: translate(12%, 0%);
  transform: translate(12%, 0%); */
}

/* end destination */

/* start daily-itinerary */

.daily-itinerary h1 {
  font-size: 19px;
  text-transform: uppercase;
}

.daily-itinerary h2 span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.daily-itinerary h2 {
  font-size: 15px;
  margin: 15px 0 17px 0;
}

.daily-itinerary h3 {
  font-size: 16px;
}

.daily-itinerary .daily-itinerary-days.sliders {
  padding: 0;
  width: 100%;
  float: left;
}

.daily-itinerary .daily-itinerary-days {
  padding: 0 15px;
  width: 100%;
  margin: 0 0 30px 0;
  float: left;
}

.daily-itinerary .daily-itinerary-days img {
  width: 50%;
  padding: 0 15px;
  height: 250px;
}

/* end daily-itinerary */

/* start information */

.information .main-title {
  margin-bottom: 0;
}

/* end information */

/* start contact */

.contact .contact-inner-section {
  width: 33.3%;
  padding: 0 15px;
  float: left;
}

.contact-copy.border-top-none {
  border-top: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.contact .contact-inner-section h1 {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 1.2;
  font-weight: 700;
  border-top: 7px solid #ee7203;
  border-bottom: 7px solid #ee7203;
  max-width: 160px;
  padding: 8px 0;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
}

.contact .round-img img {
  display: block;
  text-align: center;
  margin: 27px auto 25px;
  height: 193px;
  width: 193px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.contact .contact-inner-section .buttonUrl {
  font-weight: normal;
  margin: 0px auto 0;
  font-size: 16px;
  height: 35px;
}

.contact .contact-inner-section .row {
  margin: 0 0 60px 0;
}

.contact .contact-inner-section .row:last-child {
  margin-bottom: 0;
}

.row .contact-images {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  display: table;
  width: 60%;
  margin: 40px auto 0;
}

.row .contact-images li {
  /* width: 33.3%;
  float: left; */
  width: 31.3%;
  float: left;
}
.row .contact-images li:nth-child(2) {
  margin: 0 10px;
}

.row .contact-images li:last-child img {
  width: 40%;
}

.row .contact-images img {
  filter: grayscale(100%);
  width: 100%;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  background: #fff;
}

.contact .contact-inner-section h2 {
  font-size: 19px;
  text-transform: uppercase;
  width: 100%;
}

.contact .contact-inner-section h3 {
  font-size: 15px;
  margin: 2px 0 0 0;
}

.contact .contact-inner-section p {
  margin: 25px 0 0 0;
}

.contact .contact-inner-section address {
  border-radius: 4px;
  background-color: #f6f6f6;
  padding: 20px;
  font-style: initial;
}

.contact address h4 {
  position: relative;
  padding: 0 0 0 29px;
  color: #ee7203;
  font-size: 19px;
}

.contact address h4::before {
  content: "\f041";
  font-family: fontAwesome;
  position: absolute;
  top: -10px;
  left: 0;
  text-align: center;
  font-size: 35px;
}

.contact .contact-inner-section address p {
  margin: 40px 0 0 0;
  font-weight: 700;
}

.contact .contact-inner-section address ul {
  margin: 20px 0 0 0;
}

.contact .contact-inner-section address ul li {
  position: relative;
  padding: 0 0 0 27px;
  margin: 0 0 5px 0;
}

.contact .contact-inner-section address ul li a {
  color: #000;
}

.contact .contact-inner-section address ul li:last-child {
  margin-bottom: 0;
}

.contact .contact-inner-section address ul li:nth-child(1)::before,
.contact .contact-inner-section address ul li:nth-child(2)::before,
.contact .contact-inner-section address ul li:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-family: fontAwesome;
  color: #929292;
}

.contact .contact-inner-section address ul li:nth-child(1)::before {
  content: "\f095";
}

.contact .contact-inner-section address ul li:nth-child(2)::before {
  content: "\f0e0";
}

.contact .contact-inner-section address ul li:nth-child(3)::before {
  content: "\f0ac";
}

.contact-footer {
  background-color: #ee7203;
  padding: 10px 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
}

.contact-footer p {
  font-size: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-footer p a {
  color: #fff;
}

.contact-footer p i {
  width: 39px;
  height: 39px;
  background-color: #0a000f;
  border-radius: 50%;
  line-height: 39px;
  margin: 5px 0 0 0;
  font-size: 25px;
}

.contact-copy {
  background-color: #000000;
  padding: 10px 0;
  border-top: 5px solid #ee7203;
  margin: 15px 0 0 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-copy-section {
  background-color: #000000;
  padding: 10px 0;
}
.contact-insta-section {
  background: #ee7203;
  padding: 5px 0;
}

.contact-copy p,
.contact-copy p a {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.contact-copy p a i {
  font-size: 20px;
}

/* end contact */
/* scss to css */
.toggle[type="checkbox"] {
  display: none;
}
/* 
.lbl-toggle {
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::after {
  content: " ";
  display: inline-block;
  background-image: url("/assets/images/chevron-up.png");
  background-size: 21px;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
  width: 21px;
  height: 21px;
  transform: rotate(180deg) translateX(-3px);
  margin-left: 10px;
} */

.collapsible-content {
  /* max-height: 0px;
  overflow: hidden; */
  transition: max-height 0.25s ease-in-out;
  width: 100%;
}

.toggle-first:checked + .lbl-toggle + .collapsible-content {
  max-height: 2000vh;
}

.toggle-main:checked + .lbl-toggle::after {
  transform: rotate(0) translateX(-3px);
}

.td-lodmor {
  display: flex;
  flex-direction: column-reverse;
}

.td-lodmor .lbl-toggle {
  font-size: 15px;
  font-weight: 700;
  color: #ee7203;
  width: 100%;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  display: none;
}

.td-lodmor .lbl-toggle::after {
  content: "Show More";
  background-image: none;
  width: auto;
  transform: rotate(0);
  margin-bottom: 8px;
}

.td-lodmor .toggle:checked + .lbl-toggle::after {
  content: "Show Less";
}

.td-lodmor .toggle:checked + .lbl-toggle i {
  transform: rotate(180deg);
}

@media screen, print {
  body {
    /* color: green !important; */
    -webkit-print-color-adjust: exact;
  }
  @page {
    size: A4 portrait;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
}
